// Single line comment

function-definition()
  property 1px #aaa 'single quoted' "double quoted"

variable-name = variable-value

body
  function-call()

#id-selector

.class-selector

// Comma separated selectors
input, .foo, #bar

// Pseudo selectors
div:active, .foo:active

// keywords
for in return true false null if else unless

// Ids beginning with characters in the hex set are not incorectly matched as
// numeric constants

#aaa

